@CHARSET "UTF-8";

.datalist-sem-borda .ui-datalist-content{
	border: none;
	padding: 0;
}

.ui-editable-column{
	opacity:0.5 !important;
	-moz-opacity: 0.5 !important;
	filter: alpha(opacity=5) !important;
}

.centralizar-selectonemenu{
	vertical-align: middle;
	position: relative;
}

.ui-widget{
	font-size: 14px !important;
	font-family: arial, sans-serif !important;
}

/*Personalizar painel*/
.ui-panel{
	background: none !important;
}

.ui-fieldset{
	background: none !important;
}

.ui-panelgrid td{
	height: 34px;
}

.ui-panelgrid-cell label{
	margin-left: 10px;
	margin-right: 5px;
}

.ui-selectmanycheckbox td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label {
	padding-right: 10px;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.2em !important;
}

.ui-tabs {
    padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
    margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0px !important;
}

/*Corrigir posição de seta do menu de selectOneMenu*/
.ui-selectonemenu .ui-selectonemenu-trigger{
	right: -22px !important;
}

.ui-selectonemenu-normal .ui-selectonemenu-trigger{
	right: -0px !important;
}

/*Corrigir posição de seta do autocomplete*/
.ui-autocomplete-alt .ui-autocomplete-dropdown{
	    right: -1px !important;
}

.ui-selectonemenu-label{
	margin-left: 0 !important;
	width: 94% !important;
}